In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

# 1. Introduction:
- Titanic survival prediction is a challenge in Kaggle which predict a person survived or not provided his or her feature
- Link: https://www.kaggle.com/c/titanic/data
- In this exercise we will use pandas to processing data (in format of a table) and LogisticRegression to train on this data
- First you need to follow some basic tutorial of pandas: https://www.kaggle.com/learn/pandas (Don't need to learn all, in this exercise, we recommend you to learn part 1: Creating, Reading, Writing workbook and part 2: Indexing, Selecting and Assigning)

# 2. Load data:
- Load titanic_train from csv file
- After processing, data contains 183 rows and 7 columns
- Training data is stored in a dataframe variable called training_data and training label is stored in a variable called training_label

In [ ]:
titanic_df = pd.read_csv("titanic_train.csv", index_col=None)
pd.set_option("display.max_rows", 10)

titanic_data = titanic_df.dropna().drop(['Survived','Name', 'PassengerId','Ticket', 'Cabin'], axis=1)
titanic_label = titanic_df.dropna()['Survived']

titanic_data

In [ ]:
titanic_label

# 3. Converting Sex and Emabarked to numeric
- Unfortunately, machine learning models in sklearn don't accept data which is not number, such as: Sex (female, male), Embark (S,C,Q)
- You need to convert them to number with the following rules:
    - Sex:
        - Female: 0
        - Male : 1
    - Embarked:
        - C: 0
        - Q: 1
        - S: 2
            
- Output will look like picture "titanic_data_numeric.png"
- Python dictionary is a list that you can access element by its key

In [ ]:
sex_dictionary = {'male':1, 'female':0}
embark_dictionary = {'C':0, 'Q':1, 'S':2}

- Iterate over each row of titanic_data where index variable is index of each row at each loop and row variable is data of each row
- Read this link: https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
- Convert data of Sex and Embarked columns to numeric using sex_dictionary and embark_dictionary and assign to corresponding row of titanic_data_numeric variable
- Hint: Use dataframe.loc[] to access to an element at each row
    - For example: titanic_data_numeric.loc[idx, 'Sex'] access to a cell which is at a row with index = idx, and 'Sex' column

In [ ]:
titanic_data_numeric = titanic_data.copy()

for index, row in titanic_data.iterrows():
    # ==================== YOUR CODE HERE ==========================
    
    
    # ==============================================================

In [ ]:
titanic_data_numeric

# 4. Train Logistic Regression
- Define model
- Fit titanic_data_numeric, titanic_label into this model

In [ ]:
# ==================== YOUR CODE HERE ==========================
logistic_reg = None  # define model

# fit data

# print accuracy score on train set

# ==============================================================

In [ ]:
# make prediction on first 10 training examples
data_first_ten = titanic_data_numeric.head(10)
true_label_first_ten = titanic_label.head(10)
predicted_label_first_ten = logistic_reg.predict(data_first_ten)

data_first_ten['True Label'] = true_label_first_ten
data_first_ten['Predicted Label'] = predicted_label_first_ten

data_first_ten